# Capstone Project

### To do this project, we will use the Foursquare dataset

> <a href="https://en.wikipedia.org/wiki/Foursquare_City_Guide">Click here </a> to know more about Foursquare API

In [1]:
import pandas as pd
import numpy as np
import json
#!conda install -c conda-forge lxml --yes # run this if you didn't install lxml

## Dowload and explore dataset from wikipedia

In [2]:
# read the data from wikipedia page
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
data.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [3]:
# rename postal code column
data.rename(columns={'Postal code' : 'PostalCode'}, inplace=True)

In [4]:
data.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned                         NaN
1        M2A      Not assigned                         NaN
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [5]:
# Remove Not assigned rows from Borough column
data = data[data['Borough'] != 'Not assigned']

In [6]:
data.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [7]:
# if a postal code has two neighborhoods, replace "/" by ","
data['Neighborhood'] = data['Neighborhood'].str.replace(" /", ",")

In [8]:
data.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [9]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
data['Neighborhood'].replace("Not assigned", data['Borough'], inplace=True)

In [10]:
# the size of the data
data.shape

(103, 3)